@inherits BasePart
@using TLS.CanvasExtended.Backend
@using System.Numerics

<div style="position: absolute; left: @(X)px; top: @(Y)px">
    <div style="position: relative;top: -50%;left: -50%; transform: scale(0.25);">
        @UI
    </div>
</div>

@code {

    [Parameter] public float X { get; set; }
    [Parameter] public float Y { get; set; }    
    [Parameter] public RenderFragment UI { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();       
    }

    public async override Task Render(IPrimitiveDrawer backend)
    {

    }

    public override (Vector2, Vector2) GetBounds()
    {
        return (new Vector2(X, Y), new Vector2(X, Y));
    }
}
